---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>爱生活</li>
            <li>爱电影</li>
            <li>爱音乐</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/chenxushan" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">心流</h2>
        <div class="tag-post-list">
          <ul>
            <li>这世界没有末路，你也不曾孤独......</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              todo
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
